/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     background: #E2E2E2; 
     color: rgba(0, 0, 0, 0.5);
 }
 input, textarea{
    -webkit-appearance: none; 
 }
 img.back_img {
    width: 2rem;
    margin-top: 1rem;
    position: absolute;
    left: 1rem;
}
 
 /* sign_up */
 .sign_in_form_wrapper, .sign_up_form_wrapper{
    background: #FFCD37;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-flow: column;
    text-align: center;
    min-height: 100vh;
 }
 .sign_up_ttl, .sign_in_ttl {
    font-size: 2rem;
    color: #ffffffcc;
    margin-top: 3rem;
}
 .field{
    margin-bottom: 1rem;
 }
 .field input{
    border: 1px solid rgba(0, 0, 0, 0.21);
    width: 100%;
    border-radius: 4px;
    height:1.5rem;
    margin: 0.7rem 0 0 0;
 }
.sign_up_form, .sign_in_form{
    background: #ffffffcf;
    margin: 6vh 8vw;
    padding: 2rem;
    border-radius: 6px;
    text-align: center;
}
.sign_up_form a, .sign_in_form a{
    color: #FFCD37;
    text-decoration: none;
    font-size: 0.7rem;
}
.actions{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.actions input{
    color: #fff;
    font-size: 1rem;
    background: #FFCD37;
    padding: 0;
    border-radius: 4px;
    width: -webkit-fill-available;
    height: 3rem;
    border: none;
}

.user_icon{
    width:3rem;
    height:3rem;
    border-radius: 30px;
}